{% extends "blog/wrapper.html" %}
{% block content %}
<div class="container">
{% if posts%}

        <p class="text-center">History posts</p>
    {% for month in datas%}
        <p class="text-center">{{month}}</p>
    {% for post in posts%}

    {% if post.published_date|date:"F" in month %}
        <div class="panel panel-default">
        <div class="panel-heading"><a href="/blog/post/{{ post.id }}/">{{ post.title }}</a></div>

         <div class="panel-body">{{ post.text }} </div>

        </div>
        <p class="text-right">{{ post.author }}, {{ post.published_date }}  </p>

    {% endif %}
    {% endfor %}
    {% endfor %}


{% else %}
<p> No blog</p>
{% endif %}
</div>
{% endblock %}