{% extends "blog/wrapper.html" %}
{% block content %}
<div class="container">
    {% if posts%}
    <div class="panel panel-info">
        <div class="panel-heading">
            <p class="text-center">
                <b>History posts (by month)</b>
            </p>
        </div>
    </div>
    {% for month in datas%}
    <p class="text-center">
        <b>
            {{month}}
        </b>
    </p>
    {% for post in posts%}
    {% if post.published_date|date:"F" in month %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/blog/post/{{ post.id }}/">
                <b>
                    {{ post.title }}
                </b>
            </a>
        </div>
        <div class="panel-body">
            {{ post.text }}
        </div>
        <p class="text-right">
            <i>
                {{ post.author }},
                {{ post.published_date }}
            </i>
        </p>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% else %}
    <p>
        No blog
    </p>
    {% endif %}
</div>
{% endblock %}