{% extends "blog/wrapper.html" %}
{% block content %}
{% if latest_post%}
<center>
<h2><i> Latest 10 posts: </i></h2>

        {% for post in latest_post%}

            <h2 class="text-info"> <a href="{% url 'blog:post' post.id %}">{{ post.title }}</a></h2>
            <h6 class="text-info"> {{ post.text }}</h6>
                <h8 class="text-info">Author: {{ post.author }} Published: {{ post.published_date }}</h8>

            <br></br>

        {% endfor %}
</center>
{% else %}
<center><p> No blog</p></center>
{% endif %}

{% endblock %}