{% extends "blog/wrapper.html" %}
{% block content %}
<div class="container">
    {% if latest_post %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <p class="text-center">
                <b>Last 10 posts</b>
            </p>
        </div>
    </div>
    {% for post in latest_post %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'blog:post' post.id %}">
                <b>
                    {{ post.title }}
                </b>
            </a>
        </div>
        <div class="panel-body">
            {{ post.text }}
        </div>
        <p class="text-right">
            <i>
                {{ post.author }},
                {{ post.published_date }}
            </i>
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p>
        No blog
    </p>
    {% endif %}
</div>
{% endblock %}