{% extends "blog/wrapper.html" %}
{% block content %}
{{ user }}
<div class="container">
{% if latest_post %}
    <p class="text-center">
        Your posts:
    </p>
    {% for post in latest_post %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'blog:post' post.id %}">
                {{ post.title }}
            </a>
        </div>
        <div class="panel-body">
            {{ post.text }}
        </div>
        <p class="text-right">{{ post.author }}, {{ post.published_date }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="text-center">
                You have no posts
            </p>
        </div>
    </div>
    {% endif %}
    {% if comments %}
    <p class="text-center">
        Your comments:
    </p>
    {% for comment in comments %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'blog:post' comment.title_id %}">
                {{ comment.text }}
            </a>
        </div>
        <p class="text-right">
            {{ comment.created_date }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="text-center">
                You have no comments
            </p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}