{% extends "blog/wrapper.html" %}
{% block content %}
<div class="container">
    <form class="text-center" action="{% url 'blog:register' %}" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                Nickname:
            </div>
            <input type="login" name="login" maxlength="20" required>
            <div class="panel-body">
                Password:
            </div>
            <input type="password" name="password" maxlength="20" required>
            <div class="panel-body">
                E-mail:
            </div>
            <input type="email" name="email" maxlength="30" required>
            <br/>
            <br/>
            <input type="submit" value="Register">
            {% if register_error %}
            <br/>
            <br/>
            <div class="alert alert-danger" role="alert">
                {{ register_error }}
            </div>
            {% endif %}
        </div>
</form>
</div>
{% endblock %}

